.drawer {
  padding: var(--p-mobile);
}

.drawerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drawerHeader > h2 {
  font-size: 1.8rem;
}
.drawerHeader > span {
  font-size: 1.3rem;
  font-weight: 500;
}

.drawerGrid {
  margin-top: 3rem;
  list-style: none;
  width: 100%;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .drawer {
    max-width: var(--max-w-main);
    margin-inline: auto;
  }

  .drawerGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .drawer {
    padding: var(--p-1024);
  }
  .drawerHeader > h2 {
    font-size: 2.4rem;
  }
  .drawerHeader > span {
    font-size: 1.6rem;
  }
  .drawerGrid {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    /* row-gap: 10rem; */
  }
}
