.header {
  padding: var(--p-mobile);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.logo {
  display: block;
}

.logo > img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: var(--max-w-main);
    margin-inline: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo > img {
    height: 2.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: var(--p-1024);
  }
}
